// Mixins in here

.custom-layout(@direction, @justify) {
	display: flex;
	flex-direction: @direction;
  justify-content: @justify;
}

.center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bordered() {
	border-bottom: 2px dashed @silver;
}

.custom-btn() {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 4rem;;
  background-color: @eastern-blue;
  color: @white;
  border-radius: 20%;  
  cursor: pointer;
  margin: 20px 0;
  
  &:hover {
    border: 2px solid @eastern-blue;
    background-color: @white;
    color: @eastern-blue;
  }
}
