// Navigation Styles here

header {
  .custom-layout(column, space-evenly);
  max-width: 800px;
  width: 100%;
  margin: 0 auto;

  .nav-bar {
    .custom-layout(row, space-between);

    nav {
      .custom-layout(row, space-evenly);
      width: 50%;
    }
  }

}